@import './base.css';

a {
    text-decoration: none;
    color: #004088;
    transition: 0.2s;
}

button {
    @apply rounded-md shadow-sm px-3 py-1 hover:bg-opacity-90 focus:ring-2 text-white font-bold
           focus:ring-offset-2 focus:ring-pink-800 transition ease-in duration-100 bg-gradient-to-r from-purple-700 to-pink-700;
}

button[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
}

input {
    @apply border-0 outline outline-0 ring-2 ring-gray-300 focus:ring-blue-400 transition ease-in duration-100;
}

input[type=text], input[type=number] {
    @apply rounded-md py-0.5 px-3 focus:ring-4 focus:ring-offset-2;
}
